.my-input-container {
  border-radius: 25px;
  border: 1px solid black;
  outline: none;
  width: 100%;
  height: 50px;
  text-align: center; }
  .my-input-container__login {
    text-align: center; }
