@import "utilities/variables";
@import "utilities/mixins";

@import "Components/card.scss";
@import "Components/myInput.scss";
@import "Components/myButton.scss";
@import "Pages/register.scss";
@import "Pages/gamepage.scss";
@import "index.css";
@import "App.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.ruler {
  height: 1px;
  background-color: rgba(139, 139, 139, 0.39);
}

.display-flex {
  display: flex;
}

.auto-width {
  display: inline-block;
}
