@import "variables";

.about-container {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: $primary-font;
  color: $primary-color;
  font-size: 14px;

  .name {
    background-color: $primary-color;
    text-decoration: none;
    color: black;
    padding-left: 1px;
    padding-right: 1px;
  }
}
