@import "variables";

.board {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;

  .board-container {

  }

  .row-1 {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 120px;  
  }

  .mini-score-board {
    display: flex;
    justify-content: left;
    align-items: center;
  }


  .row-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 120px;
  }

  .row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  .bowl {
    border: 1px solid $primary-color;
    border-radius: 90px;
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
  }

  .card-div {
    min-height: 84px;
    min-width: $card-height;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid $light-primary-color;
  }

  .player-card-div {
    .player-name {
      font-family: $primary-font;
      font-weight: bold;
      display: flex;
      justify-content: center;
      color: $primary-color;
    }

    .-flash {
      border-radius: 10px;
      animation: blackWhite 0.4s infinite;
    }
  }

  .-next-chance {
    .card-div {
      border: 1px solid $primary-color;

    }
  }

  .empty-div {
    width: 28px;
  }

  .-my-trump {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: $primary-font;
    padding: 2px;
  }

  .-claiming {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: $primary-font;
    padding-top: 5px;
  }

  .icon-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .card-and-sign-div {
    display: flex;
    flex-direction: row;
  }

  .card-and-name-div {
    display: flex;
    flex-direction: column;
  }
}
