@import "variables";

.game-over-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  

  .game-over {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .text-large {
    font-family: $secondary-font;
    color: $primary-color;
    font-size: 50px;
    font-weight: bold;
  }

  .score-board-div {
    width: 100%;
  }

  .back-icon {
    display: flex;
    justify-content: center;
  }

  .game-over-go-back {
    display: flex;
    .go-back-container {
      margin: 5vh;
    }
  }
}
