.chance-notification {
  background-color: green;
  color: white;
  justify-content: center;
}

.game-page-container {
  display: flex;
  flex-direction: column;

  .stake-container {

  }

  .old-stake {

  }

  .stake {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .play-button {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;

    .my-button {
      width: 80%;
    }
  }

  .hand-stake-container {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 10px;

    .hand-stake {
      display: flex;
      justify-content: center;

    }
  }
}
