@import "variables";

.home-page {
  padding-top: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .line-1 {
    display: flex;
    color: $primary-color;
    font-size: 20px;
    font-family: $primary-font;
  }

  .line-2 {
    display: flex;
    color: $primary-color;
    font-size: 40px;
    font-family: $primary-font;
    font-weight: bold;
  }

  .button-div {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    width: 100%;

    .my-button-container {
      padding-top: 2vh;
    }
  }
}
