@import "variables";

.joined-user-container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .team-display-container {
    display: flex;
    flex-direction: column;
  }

  .left {
    align-items: flex-start;
    padding-left: 15px;
  }

  .loader-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .right {
    padding-right: 15px;
    align-items: flex-end;
  }

  .center {
    text-align: center;
  }

  .user-row {
    display: flex;
    flex-direction: row;
  }
}
