@import "variables";

.joining-page-container {
  display: flex;

  .joining-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .code-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 50%;
    }
    .code {
      font-weight: bold;
      font-size: 30px;
      font-family: $primary-font;
      color: $primary-color;
    }

    .-loading {
      justify-content: center !important;
    }

    .users {
      min-height: 30vh;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 50%;
      display: flex;
      font-size: 20px;
      font-family: $primary-font;
      color: $primary-color;
      flex-direction: column;

      span:first-child {
        font-weight: bold;
      }

      .user-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        height: 25px;
        border-bottom: 1px solid $light-primary-color;
      }
    }

    .start-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .loader-container {
      display: flex;
      justify-content: center;
    }

    .note {
      font-size: 20px;
      font-family: $primary-font;
      color: $primary-color;
      font-weight: bold;
    }

  }
}
